/ {
	aliases {
		spi2 = &qupv3_se8_spi;
	};
};

&firmware {
	android {
		vbmeta {
			parts = "vbmeta,boot,system,vendor,dtbo,recovery";
		};
		fstab {
			vendor {
				fsmgr_flags = "wait,avb";
			};
		};
	};
};

&pil_adsp_mem {
	reg = <0 0x95700000 0 0x2600000>;
};

&wlan_msa_mem {
	reg = <0 0x97d00000 0 0x180000>;
};

&npu_mem {
	reg = <0 0x97e80000 0 0x80000>;
};

&pil_ipa_fw_mem {
	reg = <0 0x97f00000 0 0x10000>;
};

&pil_ipa_gsi_mem {
	reg = <0 0x97f10000 0 0x5000>;
};

&pil_gpu_mem {
	reg = <0 0x97f15000 0 0x2000>;
};

&secure_display_memory {
	size = <0 0x8c00000>;
};

&wdog {
	qcom,bark-time = <20000>;
	qcom,pet-time = <15000>;
};

&ufshc_mem {
	spm-level = <3>;
};

&qupv3_se9_i2c {
	status = "disabled";
};

&fsa4480 {
	status = "disabled";
};
